.fill-green-36_159-paragraph {
        color: rgba(185, 255, 102, 1)
      }
.fill-black-334_1497-paragraph {
        color: rgba(0, 0, 0, 1)
      }
.text-h2-53_1418 {
        font-size: 40px;
font-family: "Space Grotesk-Medium";
font-weight: Medium;
letter-spacing: 0em
      }
.fill-dark-109_952 {
        background-color: rgba(25, 26, 35, 1)
      }
.fill-green-36_159 {
        background-color: rgba(185, 255, 102, 1)
      }
.text-p-35_146 {
        font-size: 18px;
font-family: "Space Grotesk-Regular";
font-weight: Regular;
letter-spacing: 0em
      }
.stroke-dark-109_952 {
        border-color: rgba(25, 26, 35, 1)
      }
.text-h1-53_1417 {
        font-size: 60px;
font-family: "Space Grotesk-Medium";
font-weight: Medium;
letter-spacing: 0em
      }
.fill-grey-54_1486 {
        background-color: rgba(243, 243, 243, 1)
      }
.text-h3-53_1419 {
        font-size: 30px;
font-family: "Space Grotesk-Medium";
font-weight: Medium;
letter-spacing: 0em
      }
.text-h4-41_258 {
        font-size: 20px;
font-family: "Space Grotesk-Medium";
font-weight: Medium;
letter-spacing: 0em
      }
.fill-dark-422_1018 {
        background-color: rgba(25, 26, 35, 1)
      }
.fill-green-422_1019 {
        background-color: rgba(185, 255, 102, 1)
      }
.fill-black-422_1020-paragraph {
        color: rgba(0, 0, 0, 1)
      }
.stroke-dark-422_1018 {
        border-color: rgba(25, 26, 35, 1)
      }
